<div>
  <table class="table medium-width">
    <thead>
      <tr>
        <th>Courses</th>
        <th>Par</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courseCtrl.courses">
        <td class="vcenter">
          {{course.name}}
        </td>
        <td>
          TBD!
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group medium-width">
    <label class="control-label">Don't see your course?</label>
    <div class="input-group">
      <input class="form-control floating-label" type="text" ng-model="courseCtrl.newName" placeholder="Where ya playin'?" />
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="courseCtrl.save()" ng-disabled="!courseCtrl.newName">Add</button>
      </span>
    </div>
  </div>
</div>
