<div>
  <table class="table medium-width">
    <thead>
      <tr>
        <th>Courses</th>
        <th>Par</th>
        <th>Number of Holes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courseCtrl.courses">
        <td class="vcenter">
          {{course.name}}
        </td>
        <td>
          {{course.par}}
        </td>
        <td>
          {{course.numberOfHoles}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group medium-width">
    <label class="control-label">Don't see your course?</label>
    <br/>
    Where ya playin?
    <input class="form-control floating-label" type="text" ng-model="courseCtrl.newName" placeholder="Where ya playin'?" />
    What's Par?
    <input class="form-control floating-label" type="number" ng-model="courseCtrl.newPar" placeholder="What's par?" />
    How Many Holes?
    <input class="form-control floating-label" type="number" ng-model="courseCtrl.newNumberOfHoles" placeholder="How many holes?" />
    <span class="input-group-btn">
      <button class="btn btn-primary" ng-click="courseCtrl.save()" ng-disabled="!courseCtrl.newName || courseCtrl.newPar < 1 || courseCtrl.newNumberOfHoles < 1">
        Add
      </button>
    </span>
  </div>
</div>
