<div>
  <div class="input-field div-top-margin">
    <select ng-model="gameCtrl.selectedCourse" ng-options="course.name for course in gameCtrl.allCourses" ng-if="gameCtrl.allCourses">
      <option value=""></option>
    </select>
    <label class="select-label">Where ya playin'??</label>
  </div>

  <table class="row bordered">
    <thead>
      <tr>
        <th>Players</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in gameCtrl.selectedPlayers">
        <td class="vcenter">
          {{player.name}}
        </td>
        <td class="push-right">
          <i class="btn mdi-action-delete red" ng-click="gameCtrl.removePlayer(player)"></i>
        </td>
      </tr>
      <tr class="add-row">
        <td>
          <div class="input-field">
            <select ng-model="gameCtrl.newPlayer" ng-options="player.name for player in gameCtrl.allPlayers" ng-if="gameCtrl.allPlayers">
              <option value=""></option>
            </select>
            <label class="select-label">Add a Player</label>
          </div>
        </td>
        <td class="push-right">
          <button class="btn mdi-content-add" ng-click="gameCtrl.addPlayer()" ng-disabled="!gameCtrl.newPlayer"></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <button class="btn waves-effect waves-light below-select"
      ng-disabled="!gameCtrl.selectedPlayers.length &#124;&#124; !gameCtrl.selectedCourse"
      ng-click="gameCtrl.startGame()">Start New Game!</button>
  </div>
</div>