<div>
  <table class="table medium-width">
    <thead>
      <tr>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in playerCtrl.players">
        <td class="vcenter">
          {{player.name}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group medium-width">
    <label class="control-label">Don't see yourself?</label>
    <div class="input-group">
      <input class="form-control floating-label" type="text" ng-model="playerCtrl.newPlayerName" placeholder="Who's playin'?" />
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="playerCtrl.save()">Save</button>
      </span>
    </div>
  </div>
</div>
