<div>
  <table class="bordered">
    <thead>
      <tr>
        <th>Players</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in playerCtrl.players">
        <td class="vcenter">
          {{player.name}}
        </td>
        <td class="push-right">
          <a class="btn waves-effect waves-light" href="#/players/{{player.id}}/games/">Completed Games</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="input-field">
      <input id="new-player-input" type="text" ng-model="playerCtrl.newPlayerName" />
      <label for="new-player-input">Don't see yourself? You deserve to be added!</label>
    </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light" ng-click="playerCtrl.save()" ng-disabled="!playerCtrl.newPlayerName">
      Save
    </button>
  </div>
</div>
