<div>

  <h4>Course: {{playCtrl.game.course.name}}</h4>
  <h5>Hole {{playCtrl.holeNumber}}</h5>

  <table class="row bordered">
    <thead>
      <tr>
        <th>Player</th>
        <th>Hole Score<th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in playCtrl.game.players">
        <td class="vcenter">
          {{player.name}}
        </td>
        <td class="vcenter">
          <div class="input-field">
            <input type="number" ng-model="playCtrl.holeScores[player.id]" placeholder="How'd ya do?" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <button class="btn waves-effect waves-light" ng-click="playCtrl.prevHole()" ng-disabled="playCtrl.holeNumber <= 1">Previous Hole</button>
    <button class="btn waves-effect waves-light" ng-click="playCtrl.nextHole()">{{playCtrl.nextHoleBtnLabel}}</button>
  </div>
</div>