<div>
  <h4>{{playerGamesCtrl.playerNameLabel}}</h4>

  <table class="bordered">
    <thead>
      <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Your Result</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in playerGamesCtrl.games">
        <td class="vcenter">
          {{game.course.name}}
        </td>
        <td>
          {{game.date}}
        </td>
        <td>
          {{game.myResult}}
        </td>
        <td class="push-right">
          <a class="btn waves-effect waves-light" href="#/game/results/{{game.id}}">View Full Game</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
