<div>

  <h4>Course: {{playCtrl.game.course.name}}</h4>
  <h5>Hole {{playCtrl.holeNumber}}</h5>

  <table class="row bordered">
    <thead>
      <tr>
        <th>Player</th>
        <th>Hole Score<th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in playCtrl.game.players">
        <td class="vcenter">
          {{player.name}}
        </td>
        <td class="vcenter">
          <i class="btn mdi-content-remove" ng-click="playCtrl.removeStrokeForPlayer(player.id)"></i>
          <div class="player-score">{{playCtrl.holeScores[player.id]}}</div>
          <i class="btn mdi-content-add" ng-click="playCtrl.addStrokeForPlayer(player.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <button class="btn waves-effect waves-light" ng-click="playCtrl.prevHole()" ng-disabled="playCtrl.holeNumber <= 1">Previous Hole</button>
    <button class="btn waves-effect waves-light" ng-click="playCtrl.nextHole()">{{playCtrl.nextHoleBtnLabel}}</button>
  </div>
</div>