div.navbar-default {
  #background: #11118A;
}

li.active {
  border-bottom-color: #06F4FF;
  border-bottom-width: medium;
  border-bottom-style: solid;
}

input.medium-width,
select.medium-width,
table.medium-width,
.medium-width {
  width: 35%;
}

td.dominant-row {
  width: 100%;
}

.vcenter {
  vertical-align: middle !important;
}

div.sub-view {
  margin-left: 10px;
}
