li.active {
  border-bottom-color: #06F4FF;
  border-bottom-width: medium;
  border-bottom-style: solid;
}

.vcenter {
  vertical-align: middle !important;
}

div.sub-view,
div.nav-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

td.push-right {
  text-align: right;
}

.below-select {
  z-index: 0 !important;
}

.add-row {
  background-color: #eee;
}

.select-label {
  left: 0 !important;
}

.div-top-margin {
  margin-top: 2rem !important;
}

.player-score {
  margin-right: 15px;
  margin-left: 15px;
  display: inline;
}